html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white !important;
}


/* Map Edits */

div.map-div {
    width: 100%;
    height: 100%;
    padding-left: 10%;
    position: fixed;
    z-index: 0;
    /* overflow: hidden; */
}

div #map {
    /* height: 100%; */
    background-color: black;
    /* padding-left: 20%; */
}


/* Container Edits */

.container-fluid {
    padding-left: 0px !important;
}

.container {
    position: relative;
    z-index: 1;
    top: 100px;
    max-width: 800px;
}


/* The footer is positioned at the bottom of the page */

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100px;
    background: #4e5d6c;
}

.search-filters {
    padding-top: 50px;
}

label {
    width: 100%;
}

#labels {
    float: left;
    width: 114px;
}

a.nav-link {
    padding: 4px;
}

button.btn {
    background-color: rgb(40, 66, 39);
    color: white;
}

li>a {
    background-color: #3e493e;
    color: white;
    width: 72px;
}

li>a:hover {
    background-color: rgb(40, 66, 39);
    color: white;
    width: 72px;
}


/* Adding styles to the aside and filter form */

.filters .panel-body {
    padding: 0;
}

ul>.list-group-item {
    background-color: #0b4b0b !important;
}

li {
    display: block;
}

.filters {
    margin-top: 10px;
    /* background-color: yellow; */
}

#table-area th {
    text-align: center;
    font-style: bold;
    color: white;
}

#table-area tbody {
    text-align: center;
    color: #c2c2c2;
}

#table-area th:first-child,
#table-area th:nth-child(2),
#table-area th:nth-child(6) {
    min-width: 70px;
}


/* media queries which will only be activated at specific screen sizes */

@media (max-width: 800px) {}

@media (max-width: 500px) {}


/* keyframe animations which will be used to animate the title */

@keyframes title {
    from {
        opacity: 0;
    }
    to {
        font-size: 7.5rem;
        opacity: 1;
    }
}

@keyframes smaller-title {
    from {
        opacity: 0;
    }
    to {
        font-size: 5.5rem;
        opacity: 1;
    }
}

@keyframes subtitle {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}